.button {
  text-align: center;
  margin-top: 15px;
}
.box {
  padding: 41px;
  background: #f2f2f2;
  border: 1px solid #cacaca;
  border-radius: 3px;
}

.text {
  color: #6d6a6a;
  text-align: center;
}

hr {
  margin-bottom: 3rem;
}

.error {
  color: red;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
}
